<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekunet- Distribuidor mayorista</title>
    <style>
        body {
            background-color: whitesmoke;
        }
    
        .navbar {
            background-color: white;
            color: black;
            padding: 15px;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .footer {
            background-color: blue;
            color: white;
            text-align: center;
            padding: 15px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="navbar">
        Sekunet
    </div>

    <div class="footer">
        © 2024 Sekunet - Todos los derechos reservados
    </div>
</body>
</html>