<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión Sekunet</title>
    <style>
        body {
            background-color: whitesmoke;
            margin: 0;
            font-family: 'Inter', sans-serif;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .navbar {
            background-color: white;
            padding: 15px;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            justify-content: space-between;
            box-sizing: border-box;
            height: 70px;
        }

        .navbar img {
            max-height: 50px;
            margin-right: 20px;
            object-fit: contain;
        }

        .navbar .nav-container {
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .navbar .nav-links {
            display: flex;
            gap: 30px;
        }

        .navbar .nav-links a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            line-height: 50px;
        }

        .navbar .nav-links a:hover{
            color: #007bff;
        }

        .navbar .login-link {
            margin-top: 20px;
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            line-height: 50px;
        }

        .navbar .login-link:hover {
            color: #007bff;
        }

        .login-container {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0  10px rgba (0, 0, 0, 0.1);
            width: 300px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            flex-grow: 1;
        }

        .login-container h2 {
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
            color: #333;
        }

        .login-container input[type="email"],
        .login-container input[type="password"]{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .login-container button:hover {
            background-color: #0056b3;
        }

        .extra-buttons {
            display: flex;
            justify-content: space-between;
        }

        .extra-buttons button {
            width: 48%;
            padding: 10px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        .create-account {
            background-color: #00bfff;
        }

        .create-account:hover {
            background-color: #009acd;
        }

        .recover-password {
            background-color: #ffa500;
        }

        .recover-password:hover {
            background-color: #e69500
        }

        .footer {
            background-color: blue;
            color: white;
            text-align: center;
            padding: 15px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <img src="https://images.crunchbase.com/image/upload/c_pad,h_256,w_256,f_auto,q_auto:eco,dpr_1/dtbujoqmk9arq03eipw9" alt="Sekunet Logo">
        <div class="nav-links">
            <a href="/">Volver atrás</a>
        </div>
    </div>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Inciar Sesión</button>
        </form>
        <div class="extra-buttons">
            <button class="create-account">Crear mi cuenta</button>
            <button class="recover-password">Recuperar Contraseña</button>
        </div>
    </div>

    <div class="footer">
        © 2024 Sekunet - Todos los derechos reservados
    </div>
</body>
</html>