<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switches Sekunet</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <style>
        body {
            background-color: whitesmoke;
            margin: 0;
            font-family: 'Inter', sans-serif;
        }

        .navbar {
            background-color: white;
            padding: 15px;
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;
            justify-content: space-between;
            box-sizing: border-box;
            height: 70px;
        }

        .navbar img {
            height: 100%;
            max-height: 50px;
            margin-right: 20px;
            object-fit: contain;
        }

        .navbar .nav-container {
            display: flex;
            flex: 1;
            justify-content: center;
        }

        .navbar .nav-links {
            display: flex;
            gap: 30px;
        }

        .navbar .nav-links a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            line-height: 50px;
        }

        .navbar .nav-links a:hover {
            color: #007bff;
        }

        .navbar .login-link {
            margin-left: 20px;
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            line-height: 50px;
        }

        .navbar .login-link:hover {
            color: #007bff;
        }

        .footer{
            background-color: blue;
            color: white;
            text-align: center;
            padding: 15px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <img src="https://images.crunchbase.com/image/upload/c_pad,h_256,w_256,f_auto,q_auto:eco,dpr_1/dtbujoqmk9arq03eipw9" alt="Sekunet Logo">
        <div class="nav-container">
            <div class="nav-links">
                <a href="/routers">Routers</a>
                <a href="/switches">Switches</a>
                <a href="/productos-domotica">Productos Domótica</a>
            </div>
        </div>
        <a href="/login" class="login-link">Iniciar Sesión</a>
    </div>

    <h1>Routers Page</h1>
    <div class="footer">
        © 2024 Sekunet - Todos los derechos reservados
    </div>
</body>
</html>